body{
  font-family: 'Muli', sans-serif;
  background-color: #fff;
  p {
    text-align: justify;
  }
}

#firstPage{
	background-image: image-url("bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Muli', sans-serif;
  height: 100%;
  h4 {
    font-size: 30px;
    position: relative;
    top: 280px;
    text-align: center;
    display: none;
    color: white;
  }
}

#secondPage {
  height: 500px;
  background: #fff;
}

#secondPage h3 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color:#888;
  padding-top: 100px;
}

#thirdPage {
  background-image: image-url("medical-mascot.png");
  background-repeat: no-repeat;
  font-family: 'Muli', sans-serif;
  height: 100%;
}

#thirdPage h3 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color:#888;
  padding-top: 100px;
}

#fourthPage {
  height: 500px;
  background: #fafafa;
}

#fourthPage h3 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color:#888;
  padding-top: 100px;
}

#fifthPage {
  height: 700px;
  background: #fff;
}

#fifthPage h3 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color:#888;
  padding-top: 100px;
}

#fifthPage h5 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color:#888;
  padding-top: 10px;
}

.line {
  position: absolute;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #e6e6e6;
  display: table;

  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 135px;
}

.line1 {
  position: absolute;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #e6e6e6;
  display: table;
  padding-top: 10px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 50px;
}

.contact {
  margin-top: 40px;
  text-align: center; 

}

.ui.form {
  width: 300px;
  border: 1px solid #e2e2e2;
  padding: 10px;
   border-radius: 0;
  width: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 257px;

}
#auther{
  font-size:17px;
  color:#80BAEA;
  text-align: center;
  position: relative;
  top: 224px;
}

#down{
  position:absolute;
  width: 100%;
  text-align: center;
  display: none;
  top: 450px;
}

#up{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}



#down img {
  width: 221px;
  height: 27px;
}

div {
  margin: 0;
}

.textbox{
 
}

/* 

#scene1 h2{
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: center;
	font-size:58px;
	font-weight: bold;
}
#scene1 #fadein{
	position: absolute;
	left: 130px;
	top: 225px;
	display: none;
}
#scene1 #scalein{
	position: absolute;
	left: 385px;
	top: 225px;
	display: none;
}

#scene1 #movein{
	position: absolute;
	left: 640px;
	top: 225px;
	display: none;
}
#scene1 #tx1{
	top: 500px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
#scene1 #popin{
	position: absolute;
	top: 700px;
	left: 340px;
	display: none;
}
#scene1 #tx2{
	top: 880px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
#scene1 #wipein{
	position: absolute;
	top: 1280px;
	left: 230px;
}
#scene1 #slidein{
	position: absolute;
	top: 1450px;
	left: 230px;
}
#scene1 #tx3{
	top: 1250px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
#scene1 #rotatein{
	position: absolute;
	top: 1900px;
	left: 370px;
}
#scene1 #txrotate{
	top: 1520px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}


#scene2{
	min-width:980px;
	width: 100%;
	position: relative;
	height: 800px;
}
#scene2 h2{
	position: absolute;
	top: 50px;
	width: 100%;
	text-align: center;
	font-size:58px;
	font-weight: bold;
}
#scene2 #timerclick{
	position: absolute;
	top: 250px;
	left: 430px;
}
#scene2 #callback1{
	position: absolute;
	top: 125px;
	left: 735px;
	display: none;
}
#scene2 #callback2{
	position: absolute;
	top: 175px;
	left: 720px;
	display: none;
}
#scene2 #callback3{
	position: absolute;
	top: 220px;
	left: 640px;
	display: none;
}
#scene2 #timer{
	position: absolute;
	top: 150px;
	left: 345px;
	display: none;
}
#scene2 #tx4{
	top: 480px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

#reference{
	background: #239793;
	width: 100%;
	padding-bottom: 150px;
}
#reference h2{
	padding-top: 50px;
}
#Referencetext{
	margin-top: 50px;
	line-height: 2.0em;
}
.op{
	color:#f15980;
	font-weight: bold;
}
#footer{
	height:80px;
	background: #fff;
}
#footer a{
	text-decoration: none;
	color:#444;
}
#footer .wlkz{
	font-size:10px;
	margin-top: 5px;
}
#copyright{
	padding-top: 30px;
	width: 100%;
	text-align: center;
	color:#444;
	font-size:11px;
}
 */

.white {
  background-color: rgba(0,0,0, 0.6)!important;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  width: 100%;
  height: 100%;
}

.black {
  background-color: rgba(255,255,255, 0.4)!important;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  width: 100%;
  height: 100%;
}
